*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 100vh;
    /* Max width and Max Height */
    background-color: purple;
}

section{
    width: 80%;
    height: 500px;
    background-color: red;
}