.main-nav {
    background-color: #13a4a4;
    margin-top: 10px;
    padding-left: 0;
    list-style: none
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a{
    color: white;
    padding: 5px;
    border-radius: 2px;
    /* se manipulan las formas de las cajas */
    text-decoration: none;
}

.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active{
    color: red;
}

/* Pseudo clases: Definen el estilo de un estado , like the two above: */

.main-nav__item a::after{
    content:" | ";
}

/* Pseudo elementos: Define el estilo de una parte especifica de un elemento, en este caso, se agrega algo mas al elemento */