.main-nav {
    background-color: #13a4a4;
    margin-top: 10px;
    padding-left: 0;
    list-style: none
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}