*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    /* que es igual a 16 pixeles  */
}
.container{
    border: 0.3rem solid black;
    display: flex;
    height: 50vh;
}
.box{
    width: 10rem;
    height: 10rem;
}
.box1{
    background-color: blue;
    order: 6;
}
.box2{
    background-color: blueviolet;
    order: 5;
}
.box3{
    background-color: burlywood;
    order:4;
}
.box4{
    background-color: cadetblue;
}
.box5{
    background-color: coral;
}
.box6{
    background-color: salmon;
    
}