*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    /* que es igual a 16 pixeles  */
}
.container{
    border: 0.3rem solid black;
    display: flex;
    /* flex hace que sus hijos tomen una posicion flexible uno en frente de otro */
    flex-direction: row-reverse;
    /* acomoda sus hijos hacia abajo */
}
.box{
    width: 10rem;
    height: 10rem;
}
.box1{
    background-color: blue;
}
.box2{
    background-color: blueviolet;
}
.box3{
    background-color: burlywood;
}
.box4{
    background-color: cadetblue;
}
.box5{
    background-color: coral;
}
.box6{
    background-color: salmon;
}